/* === google fonts === */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
:root {
  --sidebarbg: #2b3550;
  --mainbg: #1c243a;
  --border-clr: #3c4459;
  --inputbg: #2b3550;
  --second-bg: #242e49;
  --btn-bg: #000000;
  --btn2bg: #bf4b4b;
  --deepgreen: #346c43;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
body {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: var(--mainbg);
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 78px;
  padding: 6px 14px;
  background-color: var(--sidebarbg);
  transition: all 0.5s ease;
  z-index: 999;
}
.sidebar.active {
  width: 240px;
}
.sidebar .logo_content .logo {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  color: white;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}
.sidebar.active .logo_content .logo {
  opacity: 1;
  pointer-events: none;
}
.logo_content .logo img {
  width: 25px;
  margin-right: 5px;
}
.logo_content .logo .logo_name {
  font-size: 20px;
  font-weight: 400;
}
.sidebar #btn {
  color: #fff;
  position: absolute;
  top: 6px;
  left: 50%;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
  cursor: pointer;
}
.sidebar.active #btn {
  left: 90%;
}
.sidebar ul {
  margin-top: 20px;
}
.sidebar ul li {
  height: 50px;
  width: 100%;
  margin: 0px 5px;
  line-height: 50px;
  position: relative;
  list-style-type: none;
}
.sidebar ul li .tooltip {
  position: absolute;
  height: 35px;
  left: 150px;
  border-radius: 6px;
  line-height: 35px;
  text-align: center;
  top: 0;
  transform: translate(-50%, -50%);
  width: 150px;
  color: #fff;
  background-color: #164776;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block;
}
.sidebar.active ul li:hover .tooltip {
  display: none;
}
.sidebar ul li:hover .tooltip {
  transition: all 0.5s ease;
  top: 50%;
  opacity: 1;
}
.sidebar ul li a {
  color: #fff;
  display: flex;
  align-items: center;
  border-radius: 10px;
  transition: all 0.4s ease;
  white-space: nowrap;
}
.sidebar ul li a:hover {
  background-color: #164776;
}
.sidebar ul li a i {
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}
.sidebar .links_name {
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}
.sidebar.active .links_name {
  opacity: 1;
  pointer-events: auto;
}
.sidebar .profile_contnet {
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
}
.sidebar .profile_contnet .profile {
  position: relative;
  padding: 10px 6px;
  height: 60px;
  transition: all 0.4s ease;
  background-color: #2b303e;
}
.profile_contnet .profile .profile_details {
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}
.sidebar.active .profile .profile_details {
  opacity: 1;
  pointer-events: auto;
}
.profile .profile_details img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 12px;
}
.profile .profile_details .name_job {
  margin-left: 10px;
}
.profile .profile_details .name {
  font-size: 15px;
  font-weight: 400;
}
.profile .profile_details .job {
  font-size: 12px;
}
.profile #log_out {
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translateX(-50%);
  min-width: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
  background-color: #2b303e;
  transition: all 0.4s ease;
}
.sidebar.active .profile #log_out {
  left: 88%;
}
.sidebar.active .profile #log_out {
  background-color: none;
}
.category_content {
  position: absolute;
  height: 100%;
  left: 78px;
  overflow-y: scroll;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
}
.sidebar.active ~ .category_content {
  left: 240px;
  width: calc(100% - 240px);
}
/* === Category Content === */
.category_content .top-item {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-block-end: 1px solid var(--border-clr);
}
.category_content .top-item h1 {
  font-size: 22px;
  color: #fff;
}
.select-item-section {
  margin: 20px 20px;
}
.middle-top-item {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}
.select-item-section .middle-top-item .addm-con {
  width: 100%;
  line-height: 40px;
}
.select-item-section .middle-top-item .addm-con h2 {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
.select-item-section .middle-top-item .addm-con select {
  height: 40px;
  width: 100%;
  padding: 0px 10px;
  appearance: none;
  border-radius: 6px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  background-color: var(--inputbg);
  border: 1px solid var(--border-clr);
}
/* === Match Name Create === */
.match-name-inpt {
  margin-top: 20px;
  line-height: 40px;
  width: 100%;
}
.match-name-inpt input {
  height: 40px;
  width: 100%;
  padding: 0px 10px;
  appearance: none;
  border-radius: 6px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  background-color: var(--inputbg);
  border: 1px solid var(--border-clr);
}
.match-name-inpt h2 {
  font-size: 20px;
  color: #fff;
}
/* === Game Detials Section === */
.game-detials-section {
  width: 100%;
  margin-top: 20px;
}
.game-detials-section h2 {
  font-size: 20px;
  color: #fff;
}
/* === Game Details Container === */
.game-details-container {
  width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
  border-top: 1px solid var(--border-clr);
  border-bottom: 1px solid var(--border-clr);
}
.game-details-container .gd-box {
  display: flex;
  gap: 10px;
  width: 100%;
  flex-direction: column;
}
.game-details-container .gd-box label {
  font-size: 16px;
  color: #fff;
}
.game-details-container .gd-box input {
  width: 100%;
  outline: none;
  height: 40px;
  padding-left: 5px;
  border-radius: 5px;
  color: #fff;
  background-color: var(--inputbg);
  border: 1px solid var(--border-clr);
}
.game-details-container .gd-box select {
  width: 100%;
  color: #fff;
  outline: none;
  height: 40px;
  padding-left: 5px;
  border-radius: 5px;
  appearance: none;
  background-color: var(--inputbg);
  border: 1px solid var(--border-clr);
}
/* === Winner Details Container === */
.winner-details-container {
  width: 100%;
  /* height: 110px; */
  padding: 20px 0;
  display: grid;
  column-gap: 10px;
  row-gap: 30px;
  margin-top: 10px;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  border-top: 1px solid var(--border-clr);
  /* border-bottom: 1px solid var(--border-clr); */
}
.winner-details-container .gd-box {
  display: flex;
  gap: 10px;
  width: 100%;
  flex-direction: column;
}
.winner-details-container .gd-box label {
  font-size: 16px;
  color: #fff;
}
.winner-details-container .gd-box input {
  width: 100%;
  outline: none;
  height: 40px;
  padding-left: 5px;
  border-radius: 5px;
  color: #fff;
  background-color: var(--inputbg);
  border: 1px solid var(--border-clr);
}
.add-more {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.add-more #wp-box {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: yellow;
}
.add-more i {
  color: var(--mainbg);
}
.submit-btn input {
  width: 100%;
  outline: none;
  height: 50px;
  font-weight: 600;
  padding-left: 5px;
  border-radius: 5px;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  background-color: var(--deepgreen);
  border: 1px solid var(--border-clr);
}
/* === Main Category === */
.mc-accourdion-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  height: 70px;
  border-block-end: 1px solid var(--border-clr);
  border-block-start: 1px solid var(--border-clr);
  margin-top: 20px;
  padding: 0px 10px;
}
.mc-accourdion-section .main-cate-btn-style {
  font-size: 20px;
  color: #fff;
  width: 100%;
  height: 50px;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.mc-accourdion-section .main-cate-btn-style:hover {
  background-color: var(--inputbg);
}
.cate_selected {
  background-color: var(--inputbg);
}
/* === Match Details List === */
.match-dl-section {
  margin-top: 20px;
}
.match-dl-section h2 {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
.match-dl-con {
  margin-top: 10px;
  border-radius: 10px;
  background-color: #242e49;
}
.bdr {
  width: 100%;
  height: 100%;
  border: 1px solid var(--border-clr);
}
.match-dl-section .match-dl-con .match-dl {
  display: flex;
  height: 40px;
  padding: 0px 10px;
  align-items: center;
  gap: 10px;
  /* justify-content: space-between; */
}
.match-dl-con .match-dl p {
  font-size: 16px;
  color: #fff;
}
.match-dl {
}
.match-dli {
  width: 5%;
  object-fit: cover;
}
.match-dlmn {
  object-fit: cover;
  width: 20%;
}
.match-dlsc {
  width: 10%;
}
.match-dlmp {
  width: 8%;
}
.match-dlm {
  width: 8%;
}
.match-dlv {
  width: 5%;
}
.match-dlt {
  width: 7%;
}
.match-dld {
  width: 7%;
}
.match-dltp {
  width: 7%;
}
.match-dl-btm {
  display: flex;
  height: 80px;
  color: #fff;
  font-size: 16px;
  padding: 0px 10px;
  align-items: center;
  gap: 10px;
  /* justify-content: space-between; */
}
.match-dli img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.match-dla-action-btn {
  display: flex;
  gap: 10px;
  font-size: 16px;
}
.match-dla-action-btn .edit-box{
  background-color: var(--btn-bg);
  height: 40px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid var(--border-clr);
}
.match-dla-action-btn .delete-box{
  height: 40px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--btn2bg);
  border: 2px solid var(--border-clr);
}
/* === Page Navigation === */
.page-navigation-section{
  height: 80px;
  display: flex;
  margin-top: 20px;
  padding: 0px 10px;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--second-bg);
}
.pag-nav-left-item{
  font-size: 16px;
  color: #fff;
}
/* === Page nav right item === */
.page-navigation-section .pag-nav-right-item{
  display: flex;
  gap: 5px;
  color: #fff;
  align-items: center;
}
.pag-nav-right-item .page-nav-box{
  height: 40px;
  display: flex;
  cursor: pointer;
  padding: 0 10px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  background-color: var(--border-clr);
  transition: all 0.3s ease-in-out;
}
.pag-nav-right-item .page-nav-box:hover{
  background-color: var(--deepgreen);
}
.page-nav-box-count{
  height: 40px;
  width: 40px;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.page-nav-box-count:hover{
  background-color: var(--deepgreen);
}
.page-nav-active{
  background-color: var(--deepgreen);
}