/* === google fonts === */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
:root {
  --sidebarbg: #2b3550;
  --mainbg: #1c243a;
  --border-clr: #3c4459;
  --inputbg: #2b3550;
  --second-bg: #242e49;
  --btn-bg: #000000;
  --btn2bg: #bf4b4b;
  --deepgreen: #346c43;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: var(--mainbg);
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 78px;
  padding: 6px 14px;
  background-color: var(--sidebarbg);
  transition: all 0.5s ease;
  z-index: 999;
}
.sidebar.active {
  width: 240px;
}
.sidebar .logo_content .logo {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  color: white;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}
.sidebar.active .logo_content .logo {
  opacity: 1;
  pointer-events: none;
}
.logo_content .logo img {
  width: 25px;
  margin-right: 5px;
}
.logo_content .logo .logo_name {
  font-size: 20px;
  font-weight: 400;
}
.sidebar #btn {
  color: #fff;
  position: absolute;
  top: 6px;
  left: 50%;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
  cursor: pointer;
}
.sidebar.active #btn {
  left: 90%;
}
.sidebar ul {
  margin-top: 20px;
}
.sidebar ul li {
  height: 50px;
  width: 100%;
  margin: 0px 5px;
  line-height: 50px;
  position: relative;
  list-style-type: none;
}
.sidebar ul li .tooltip {
  position: absolute;
  height: 35px;
  left: 150px;
  border-radius: 6px;
  line-height: 35px;
  text-align: center;
  top: 0;
  transform: translate(-50%, -50%);
  width: 150px;
  color: #fff;
  background-color: #164776;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block;
}
.sidebar.active ul li:hover .tooltip {
  display: none;
}
.sidebar ul li:hover .tooltip {
  transition: all 0.5s ease;
  top: 50%;
  opacity: 1;
}
.sidebar ul li a {
  color: #fff;
  display: flex;
  align-items: center;
  border-radius: 10px;
  transition: all 0.4s ease;
  white-space: nowrap;
}
.sidebar ul li a:hover {
  background-color: #164776;
}
.sidebar ul li a i {
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}
.sidebar .links_name {
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}
.sidebar.active .links_name {
  opacity: 1;
  pointer-events: auto;
}
.sidebar .profile_contnet {
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
}
.sidebar .profile_contnet .profile {
  position: relative;
  padding: 10px 6px;
  height: 60px;
  transition: all 0.4s ease;
  background-color: #2b303e;
}
.profile_contnet .profile .profile_details {
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}
.sidebar.active .profile .profile_details {
  opacity: 1;
  pointer-events: auto;
}
.profile .profile_details img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 12px;
}
.profile .profile_details .name_job {
  margin-left: 10px;
}
.profile .profile_details .name {
  font-size: 15px;
  font-weight: 400;
}
.profile .profile_details .job {
  font-size: 12px;
}
.profile #log_out {
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translateX(-50%);
  min-width: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
  background-color: #2b303e;
  transition: all 0.4s ease;
}
.sidebar.active .profile #log_out {
  left: 88%;
}
.sidebar.active .profile #log_out {
  background-color: none;
}
.category_content {
  position: absolute;
  height: 100%;
  left: 78px;
  overflow-y: scroll;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
}
.sidebar.active ~ .category_content {
  left: 240px;
  width: calc(100% - 240px);
}
/* === Category Content === */
.category_content .top-item {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-block-end: 1px solid var(--border-clr);
}
.category_content .top-item h1 {
  font-size: 22px;
  color: #fff;
}
/* === Middle Items Section === */
.middle_items_section {
  margin: 20px 20px;
}
/* === Middle Item1 === */

/* === Solo Winner Section === */
.winner-section {
  margin: 20px 20px;
}
.winner-section h2 {
  font-size: 20px;
  color: #fff;
}
.winner-section .winner-container {
  display: grid;
  column-gap: 20px;
  row-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}
.winner-section .winner-container .winner-box {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: start;
}
.winner-section .winner-container .winner-box label {
  font-size: 16px;
  color: #fff;
  margin-bottom: 8px;
}
.winner-section .winner-container .winner-box input {
  width: 100%;
  height: 40px;
  outline: none;
  font-size: 15px;
  padding: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--inputbg);
  border: 2px solid var(--border-clr);
}
.solo-player-con {
  width: 100%;
  gap: 5px;
  display: none;
  max-height: 400px;
  min-height: 70px;
  overflow-y: scroll;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  flex-direction: column;
  background-color: var(--second-bg);
}
.solo-player-con .solo-pn {
  display: flex;
  width: 100%;
  padding: 14px 10px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  justify-content: start;
  background-color: var(--inputbg);
}
.solo-player-con .solo-pn-result {
  gap: 5px;
  display: none;
  margin-top: 2px;
}
.solo-player-con > .solo-pn-result > input {
  color: #fff;
  border: 1px solid #fff !important;
  background-color: transparent !important;
}
/* === Solo Full Results === */
.solo-full-result-sec {
  margin: 20px 20px;
}
.solo-full-result-sec .match-name h2 {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
}
.solo-full-result-sec .match-name-details {
  height: 50px;
  width: 100%;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  color: #fff;
  gap: 20px;
  /* justify-content: space-between; */
  border-bottom: 1px solid var(--border-clr);
}
.match-name-details .id {
  width: 30%;
}
match-name-details,
.kill,
.mp,
.ep,
.tp {
  width: 100%;
}
.solo-full-res-con {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 20px;
  gap: 20px;
  background-color: var(--second-bg);
}
.solo-full-res-con .idNo {
  width: 6%;
  color: #fff;
}
.result-box {
  width: 100%;
}
.sfrpname {
  height: 40px;
  display: flex;
  color: #fff;
  padding: 0px 5px;
  align-items: center;
  border-radius: 5px 5px 0px 0px;
  justify-content: space-between;
  background-color: var(--inputbg);
}
.player-profile {
  cursor: pointer;
  font-size: 30px;
}
.single-result-con {
  width: 100%;
  display: flex;
}
.single-result-con input {
  width: 100%;
  height: 40px;
  color: #fff;
  outline: none;
  padding: 0px 5px;
  border: 1px solid #aab2b794;
  background-color: transparent;
}

/* === Duo Winner Result === */
.duo-winer-result-section {
  margin: 20px 20px;
}
.duo-winer-result-section h2 {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
}
.duo-winner-selection {
  display: flex;
  margin-top: 10px;
  line-height: 40px;
  flex-direction: column;
}
.duo-winner-selection label {
  font-size: 16px;
  color: #fff;
}
.duo-winner-selection input {
  height: 40px;
  font-size: 16px;
  padding: 0px 5px;
  border-radius: 5px;
  background-color: var(--inputbg);
  border: 1px solid var(--border-clr);
}
.duo-winer-result-section .duo-winner-container .duo-winner-box .duo-team-name {
  width: 100%;
  height: 40px;
  display: flex;
  color: #fff;
  padding: 0px 5px;
  font-size: 14px;
  border-radius: 5px;
  align-items: center;
  background-color: #164776;
  justify-content: space-between;
}
.duo-winer-result-section .duo-winner-container .duo-winner-box {
  padding: 10px;
  border-radius: 5px;
  background-color: var(--second-bg);
}
.duo-winer-result-section .duo-winner-container {
  margin-top: 5px;

}
.duo-winner-box .duo-pName {
  width: 100%;
  height: 40px;
  display: flex;
  font-size: 16px;
  color: #fff;
  padding: 0px 5px;
  border-radius: 5px;
  align-items: center;
  background-color: var(--inputbg);
}
.duo-result-box {
  width: 100%;
  display: flex;
  align-items: center;
}
.duo-result-box input {
  width: 100%;
  height: 40px;
  outline: none;
  color: #fff;
  padding: 0px 5px;
  border: 1px solid #aab2b794;
  background-color: transparent;
}
.duo-total-result-con {
  display: flex;
  height: 40px;
  font-size: 16px;
  color: #fff;
  align-items: center;
  border: 1px solid #aab2b794;
  justify-content: space-between;
  background-color: var(--deepgreen);
}
.duo-kill-total {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0px 5px;
  border-right: 1px solid #aab2b794;
}
.duo-kill-MP {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0px 5px;
  border-right: 1px solid #aab2b794;
}
.duo-kill-EP {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0px 5px;
  border-right: 1px solid #aab2b794;
}
.duo-kill-TP {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0px 5px;
}
