/* === google fonts === */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
:root{
    --sidebarbg: #2B3550;
    --mainbg: #1C243A;
    --border-clr: #3C4459;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: var(--mainbg);
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    padding: 6px 14px;
    background-color: var(--sidebarbg);
    transition: all 0.5s ease;
}
.sidebar.active{
    width: 240px;
}
.sidebar .logo_content .logo{
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    color: white;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}
.sidebar.active .logo_content .logo{
    opacity: 1;
    pointer-events: none;
}
.logo_content .logo img{
    width: 25px;
    margin-right: 5px;
}
.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
}
.sidebar #btn{
    color: #fff;
    position: absolute;
    top: 6px;
    left: 50%;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}
.sidebar.active #btn{
    left: 90%;

}
.sidebar ul{
    margin-top: 20px;
}
.sidebar ul li{
    height: 50px;
    width: 100%;
    margin: 0px 5px;
    line-height: 50px;
    position: relative;
    list-style-type: none;
}
.sidebar ul li .tooltip{
    position: absolute;
    height: 35px;
    left: 150px;
    border-radius: 6px;
    line-height: 35px;
    text-align: center;
    top: 0;
    transform: translate(-50% , -50%);
    width: 150px;
    color: #fff;
    background-color: #164776;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}
.sidebar.active ul li:hover .tooltip{
    display: none;
}
.sidebar ul li:hover .tooltip{
    transition: all 0.5s ease;
    top: 50%;
    opacity: 1;
}
.sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
    transition: all 0.4s ease;
    white-space: nowrap;
}
.sidebar ul li a:hover{
    background-color: #164776;
}
.sidebar ul li a i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}
.sidebar .links_name{
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}
.sidebar.active .links_name{
    opacity: 1;
    pointer-events: auto;
}
.sidebar .profile_contnet{
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}
.sidebar .profile_contnet .profile{
    position: relative;
    padding: 10px 6px;
    height: 60px;
    transition: all 0.4s ease;
    background-color: #2B303E;
}
.profile_contnet .profile .profile_details{
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}
.sidebar.active .profile .profile_details{
    opacity: 1;
    pointer-events: auto;
}
.profile .profile_details img{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 12px;
}
.profile .profile_details .name_job{
    margin-left: 10px;
}
.profile .profile_details .name{
    font-size: 15px;
    font-weight: 400;
}
.profile .profile_details .job{
    font-size: 12px;
}
.profile #log_out{
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    background-color: #2B303E;
    transition: all 0.4s ease;
}
.sidebar.active .profile #log_out{
    left: 88%;
}
.sidebar.active .profile #log_out{
    background-color: none;
}
.home_content{
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
}
.sidebar.active ~ .home_content{
    left: 240px;
    width: calc(100% - 240px);
    
}
/* === Home Components === */
.home_content .top-item{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-block-end: 1px solid var(--border-clr);
}
.home_content .top-item h1{
    font-size: 22px;
    color: #fff;
}
/* === Middle Items === */
.middle_items-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin: 20px 20px;
}
.card-con{
    border-radius: 10px;
    text-align: start;
    line-height: 40px;
    color: #fff;
    padding: 10px 20px;
    border:1px solid var(--border-clr);
}
.card-con .card_name{
    display: flex;
    align-items: center;
    gap: 10px;
}
.card-con .card_name h2{
    font-size: 20px;
    font-weight: 400;
}
.card-con .card_name i{
    font-size: 20px;
}